/* .background {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: fixed;
  opacity: 90%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -1;
} */
html {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.nav-bar {
  z-index: 1;
  background: linear-gradient(white, silver);
  opacity: 90%;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
  height: 8%;
  color: white;
  box-shadow: 5px 5px 10px black;
}
.nav-bar-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 35%;
  margin: auto;
}
.intro {
  z-index: -1;
  padding: 5% 0;
  width: 100%;
  position: relative;

  background-color: #284b63;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  box-shadow: 5px 5px 5px black;
}
.profile-image {
  border-radius: 50%;
  height: auto;
  width: 10%;
  border: 2px solid white;
  box-shadow: 5px 5px 5px black;
}

.greeting-text {
  color: black;
  margin: auto;
}
.greetings-message {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 0 10px;
  width: 16%;
  border-radius: 30px;
  box-shadow: 5px 5px 5px black;
}

#about-me {
  display: flex;
  flex-direction: column;

  padding: 10px 20px;

  width: 100vw;
}
#about-me h1,
ul {
  color: black;
  margin: 10px auto;
}
#about-me ul li {
  font-size: 1.12em;
}
.greetings-message h2 p {
  color: black;
}
.nav-bar-btn:hover {
  background: linear-gradient(white, silver);
  color: black;
  border-radius: 40px;
  border: 2px solid silver;
}
.nav-bar-btn {
  margin: auto;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
}
.skill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.skill-entry {
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.skill-entry p {
  margin: 10px auto;
  font-weight: bold;
}
.skill p,
h2 {
  color: white;
}
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3c6e71;
  box-shadow: 5px 5px 5px black;
}
.skill-logo {
  width: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px black;
  border: none;
  background-color: white;
}
#skills h1,
h2 {
  color: white;

  margin: 10px auto;
}

#connect {
  width: 100%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#connect h1 {
  color: white;
  margin: 10px auto;
}
.icon {
  width: 25px;
}
#connect a:hover {
  scale: 115%;
}
.skill-logo:hover {
  scale: 110%;
}
.contact-info {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.contact-info span a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 10px;
}
.contact-info span a img {
  margin: auto;
}
.contact-info span a {
  color: white;
  text-decoration: none;
}
#projects {
  display: grid;
  grid-template-rows: 50px 70%;
  justify-content: center;
  width: 100%;
}
#projects h1 {
  grid-row: 1;
  color: black;
  margin: 10px auto;
}

.project-cards {
  grid-row: 2;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px auto;
}
.greeting-final-text {
  width: 20%;
}
.greeting-final-text p,
h2 {
  color: white;
}
#projects h1 {
  margin: 2% auto;
}
.project-card {
  margin: 1% auto;
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .profile-image {
    width: 20%;
  }
  .greetings-message {
    width: 30%;
  }
  .greeting-final-text {
    width: 33%;
  }
  .nav-bar {
    justify-content: flex-start;
    position: sticky;
    top: 0;
  }
  .nav-bar-btns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }

  .nav-bar-btn {
    padding: 5px 5px;
    font-size: 0.8em;
  }
  .nav-bar-btn:hover {
    border: 0;
    background: none;
    border-radius: 0;
  }
  #about-me ul li {
    font-size: 0.8em;
    width: 90%;
  }
  .skill-logo {
    width: 50px;
  }

  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
  body,
  html {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .contact-info span a p {
    font-size: 0.6em;
  }
  .skill-entry img {
    margin: auto;
  }
  .greetings-message h3 {
    font-size: 0.8em;
  }
  .greeting-final-text h2 {
    font-size: 1em;
  }
  .greeting-final-text p {
    font-size: 0.8em;
  }
  .project-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .project-card {
    width: 90%;
  }
}
